  <div class="m-auto mt-4">


    <div class="noselect chart-container mt-3">
      <div class="d-flex justify-content-between text-header-area w-100">
        <div class="font-12 fw-600 dark-gray-text mb-1">Transactions</div>

        <div class="d-flex">
          <div class="control-row ml-auto">
            <ng-select class="custom-select"
              *ngIf="KpiList[metricSelectedSubject$ | async]"
              title="Select Metric"
              [ngModel]="KpiList[metricSelectedSubject$ | async]"
              (change)="selectKpiElement($event)"
              [clearable]="false"
              [searchable]="false"
              [items]="KpiList"
              [bindLabel]="'title'">
              <ng-template ng-option-tmp
                let-item="item">
                <div>{{ item.title }}</div>
              </ng-template>
            </ng-select>
          </div>

          <div class="control-row">
            <ng-select class="color-select"
              title="Select Color Range"
              [(ngModel)]="colorRange"
              (change)="selectColorRange($event)"
              [clearable]="false"
              [searchable]="false"
              [items]="colorCollections"
              [bindLabel]="'key'">
              <ng-template ng-option-tmp
                let-item="item">
                <div class="color-row">
                  <div style="padding-left: 8px;"
                    class="d-flex ml-auto">
                    <div *ngFor="let square of item.value">
                      <div class="color-square"
                        [style.background-color]="square">
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>

      <div class='container-body'>
        <div echarts
          id="scatter-chart"
          (chartInit)="onChartInit($event)"
          [options]="options">
        </div>
      </div>
    </div>
  </div>
