  <div class="m-auto mt-4">
    <div [formGroup]="rangeSelector">
      <div class="form-row">
        <div class="form-column">
          <label class="form-label"
            for="origin">Origin: </label>
          <input id="origin"
            class="form-control"
            type="text"
            formControlName="origin">
        </div>
        <div class="form-column">
          <label class="form-label"
            for="destination">Destination: </label>
          <input id="destination"
            class="form-control"
            type="text"
            formControlName="destination">
        </div>
        <div class="d-flex">
          <div class="form-column me-2">
            <label class="form-label"
              for="transactionTimeFrom">Transaction Time: </label>
            <app-date-time-picker [(ngModel)]="purchaseHistoryService.transactionDate"
              (dateChange)="getTransactionDate($event, 'td')"
              [(ngModel)]="purchaseHistoryService.transactionDate"
              formControlName="transactionTimeFrom"
              name="transactionTimeFrom"></app-date-time-picker>
          </div>
          <div class="form-column">
            <label class="form-label"
              for="transactionTimeTo">To:</label>
            <input id="transactionTimeTo"
              class="form-control"
              type="text"
              formControlName="transactionTimeTo">
          </div>
        </div>
        <div class="d-flex">
          <div class="form-column me-2">
            <label class="form-label">Departure Date From</label>
            <app-date-time-picker (dateChange)="getDepartureDate($event,'dd')"
              [(ngModel)]="purchaseHistoryService.departureDate"
              formControlName="departureDateFrom"
              name="departureDateFrom"></app-date-time-picker>
          </div>
          <div class="form-column">
            <label class="form-label">To:</label>
            <app-date-time-picker [(ngModel)]="purchaseHistoryService.departureDateTo"
              formControlName="departureDateTo"
              name="departureDateTo"></app-date-time-picker>
          </div>
        </div>
      </div>
    </div>


    <div class="m-auto mt-2"
      *ngIf="(purchaseHistoryService.transactionDataBehaviorSubject$ | async)?.length > 0">
      <ag-grid-angular #agGrid
        id="aGrid"
        class="ag-theme-alpine"
        (gridReady)="onGridReady($event)"
        [gridOptions]="gridOptions"
        [getRowHeight]="getRowHeight"
        [columnDefs]="columnDefs"
        [rowData]="purchaseHistoryService.transactionDataBehaviorSubject$ | async">
      </ag-grid-angular>
    </div>
    <div class="noselect chart-container mt-3">
      <div class="d-flex justify-content-between text-header-area w-100">
        <div class="font-12 fw-600 dark-gray-text mb-1">Transactions</div>

        <div class="d-flex">
          <div class="control-row ml-auto">
            <ng-select class="custom-select"
              *ngIf="KpiList[metricSelectedSubject$ | async]"
              title="Select Metric"
              [ngModel]="KpiList[metricSelectedSubject$ | async]"
              (change)="selectKpiElement($event)"
              [clearable]="false"
              [searchable]="false"
              [items]="KpiList"
              [bindLabel]="'title'">
              <ng-template ng-option-tmp
                let-item="item">
                <div>{{ item.title }}</div>
              </ng-template>
            </ng-select>
          </div>

          <div class="control-row">
            <ng-select class="color-select"
              title="Select Color Range"
              [(ngModel)]="colorRange"
              (change)="selectColorRange($event)"
              [clearable]="false"
              [searchable]="false"
              [items]="colorCollections"
              [bindLabel]="'key'">
              <ng-template ng-option-tmp
                let-item="item">
                <div class="color-row">
                  <div>{{ item.key }}</div>
                  <div style="padding-left: 8px;"
                    class="d-flex ml-auto">
                    <div *ngFor="let square of item.value">
                      <div class="color-square"
                        [style.background-color]="square">
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>

      <div class='container-body'>
        <div echarts
          id="scatter-chart"
          (chartInit)="onChartInit($event)"
          [options]="options">
        </div>
      </div>
    </div>
  </div>
