<div class="m-auto mt-2 grid-placement">

  <div class="m-auto mt-4">

    <div *ngIf="rangeSelector"
      [formGroup]="rangeSelector">
      <div class="form-group">
        <div class="form-row">
          <div class="form-column">
            <label class="form-label"
              for="origin">Origin: </label>
            <input id="origin"
              class="fill-field-input"
              type="text"
              formControlName="origin">
          </div>
          <div class="form-column">
            <label class="form-label"
              for="destination">Destination: </label>
            <input id="destination"
              class="fill-field-input"
              type="text"
              formControlName="destination">
          </div>
          <div class="date-time-container">
            <label class="form-label"
              for="transactionTimeFrom">Transaction Time From - To: </label>
            <div class="dt-results">
              <input type="text"
                placeholder="Select Date/Time Range"
                class="fill-field-input w-100"
                [isOpen]="isTransactionTimeOpen"
                formControlName="transactionTimeFrom"
                [bsConfig]="{withTimepicker: true, rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}"
                bsDaterangepicker>
              <div>
                <div class="calendar-toggle"
                  (click)="toggleTransactionOpenState()">
                  <i i-bs
                    class="icon-place"
                    name="calendar-fill"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="date-time-container">
            <label class="form-label"
              for="departureDateFrom">Departure Time From - To: </label>
            <div class="dt-results">
              <input type="text"
                placeholder="Select Date/Time Range"
                class="fill-field-inputw-100"
                [isOpen]="isDepartureTimeOpen"
                formControlName="departureDateFrom"
                [bsConfig]="{withTimepicker: true, rangeInputFormat : 'MMMM Do YYYY, h:mm a', dateInputFormat: 'MMMM Do YYYY, h:mm a'}"
                bsDaterangepicker>
              <div>
                <div class="calendar-toggle"
                  (click)="toggleDepartureOpenState()">
                  <i i-bs
                    class="icon-place"
                    name="calendar-fill"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-flight-purchase></app-flight-purchase>

    <app-graph-chart></app-graph-chart>
  </div>

  <div class="m-auto mt-4">
    <scatter-chart></scatter-chart>
  </div>



  <!-- <ag-grid-angular #agGrid
            id="myGrid"
            class="ag-theme-alpine-dark"
            (gridReady)="onGridReady($event)"
            [gridOptions]="gridOptions"
            [getRowHeight]="getRowHeight"
            [columnDefs]="columnDefs"
            (columnResized)="onColumnResized($event)"
            [rowData]="rowData">
          </ag-grid-angular> 
</div>-->

</div>
