<div class="m-auto mt-2 grid-placement">

  <ul ngbNav
    #nav="ngbNav"
    class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Time Range Selection</a>
      <ng-template ngbNavContent>
        <div class="m-auto mt-4">
          <scatter-chart></scatter-chart>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Consumer</a>
      <ng-template ngbNavContent>
        <div class="m-auto mt-4">
          <div class="form-style-row mb-4">
            <div class="pass-select-text">Select Number of Passengers</div>
            <form #form="ngForm"
              class="form-style"
              (ngSubmit)="addNumPassengers(form.value)">
              <input type="number"
                class="d-flex"
                name="numPassengers"
                [ngModel]="numPassengers > 0"
                required
                numPassengersAsyncValidator>
              <button class="btn btn-primary btn-sm"
                [disabled]="form.invalid || form.pending">Submit</button>
            </form>
            <div class="pass-select-value ms-4"
              *ngIf="numPassengers > 0">Passengers Selected: {{numPassengers}}</div>
          </div>

          <ag-grid-angular #agGrid
            id="myGrid"
            class="ag-theme-alpine-dark"
            (gridReady)="onGridReady($event)"
            [gridOptions]="gridOptions"
            [getRowHeight]="getRowHeight"
            [columnDefs]="columnDefs"
            (columnResized)="onColumnResized($event)"
            [rowData]="rowData">
          </ag-grid-angular>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
